.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #2a363b;
}

.link:hover {
  color: orangered;
}

.link.active {
  color: #e84a5f;
}
