.campersWrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
}

.campersCardWrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.loadMoreButton {
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #dadde1;
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.loadMoreButton:hover {
  border: 1px solid #d84343;
}
